# npm
node_modules/

# tree-sitter targets
src/
*.gyp
*.wasm
index.js

# python binding targets
bindings/python3/build/
bindings/python3/dbt_parser/dist/
bindings/python3/include/*.c
bindings/python3/include/tree_sitter/
*.egg-info
*.whl
