# npm
node_modules/

# tree-sitter targets
src/
*.gyp
*.wasm
index.js

# python binding targets
bindings/python3/build/
build/
bindings/python3/tree-sitter-jinja2/dist/
bindings/python3/include/*.c
bindings/python3/include/tree_sitter/
*.egg-info
*.whl
